*{
  padding: 0;
  margin: 0;
  background-color: #fcd256;
  background-image: url('bg-pattern.png');
  background-repeat: repeat;
}
#game-container {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 3rem ;
  background: linear-gradient(#383624, #282617);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}